.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 151px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 73px;
    margin-bottom: 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 769px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 79px 874px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 566px;
  height: 548px;
  margin: -68px 79px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: -472px 40px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0px;
  margin: 8px 295px 0 0;
}

.u-section-2 .u-text-4 {
  text-align: start;
  font-size: 1.125rem;
  line-height: 28.8px;
  letter-spacing: normal;
  margin: 27px 744px 0 26px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 26px 744px 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 674px;
  }

  .u-section-2 .u-shape-1 {
    color: rgb(0, 0, 0) !important;
    margin-top: -102px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -438px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 95px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 313px;
    margin-right: 570px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 618px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -534px;
    margin-right: 324px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 191px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 350px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 438px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-top: 101px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -571px;
    margin-right: 144px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 89px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 35px;
    margin-right: 61px;
    margin-left: 13px;
  }

  .u-section-2 .u-shape-1 {
    width: 188px;
    height: 188px;
    margin-top: 41px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -182px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-right: 36px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-bottom: 41px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 527px;
}

.u-section-3 .u-shape-1 {
  width: 73px;
  height: 73px;
  background-image: none;
  margin: 108px 180px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -47px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  text-align: start;
  margin: -409px 860px 0 14px;
}

.u-section-3 .u-shape-2 {
  width: 170px;
  height: 170px;
  background-image: none;
  margin: -126px 23px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 674px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 562px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -501px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 798px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -737px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-3 .u-shape-1 {
    width: 35px;
    height: 35px;
    margin-top: 79px;
    margin-right: 70px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -58px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -497px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-3 .u-shape-2 {
    width: 87px;
    height: 87px;
    margin-top: -56px;
    margin-bottom: 60px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2908px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 38px 77px 0 178px;
}

.u-section-4 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  text-align: start;
  margin: -52px 860px 0 14px;
}

.u-section-4 .u-tabs-1 {
  min-height: 1411px;
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 14px auto 0 59px;
}

.u-section-4 .u-image-1 {
  width: 987px;
  height: 733px;
  margin: 30px 100px 0 53px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 25px auto 0 53px;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 53px;
}

.u-section-4 .u-image-2 {
  width: 648px;
  height: 281px;
  margin: 9px auto 0 53px;
}

.u-section-4 .u-text-6 {
  margin: 13px auto 0 53px;
}

.u-section-4 .u-image-3 {
  width: 636px;
  height: 445px;
  margin: 13px auto 0 53px;
}

.u-section-4 .u-text-7 {
  margin: 16px auto 0 53px;
}

.u-section-4 .u-image-4 {
  width: 626px;
  height: 342px;
  margin: 30px auto 0 53px;
}

.u-section-4 .u-text-8 {
  margin: 13px auto 0 53px;
}

.u-section-4 .u-image-5 {
  width: 648px;
  height: 202px;
  margin: 30px 439px 0 53px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 10px auto 0 53px;
}

.u-section-4 .u-image-6 {
  width: 626px;
  height: 440px;
  margin: 30px 461px 0 53px;
}

.u-section-4 .u-image-7 {
  width: 635px;
  height: 194px;
  margin: 30px 452px 0 53px;
}

.u-section-4 .u-image-8 {
  width: 636px;
  height: 451px;
  margin: 30px 451px 0 53px;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 36px 0;
}

.u-section-4 .u-image-9 {
  width: 802px;
  height: 86px;
  margin: 0 302px 0 36px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  margin: 39px 36px 0;
}

.u-section-4 .u-image-10 {
  width: 802px;
  height: 240px;
  text-align: left;
  margin: 9px auto 0 36px;
}

.u-section-4 .u-text-12 {
  font-size: 1.125rem;
  margin: 25px 112px 0 40px;
}

.u-section-4 .u-image-11 {
  width: 782px;
  height: 148px;
  margin: 30px 318px 0 40px;
}

.u-section-4 .u-image-12 {
  width: 782px;
  height: 210px;
  margin: 30px 318px 0 40px;
}

.u-section-4 .u-text-13 {
  margin: 30px 112px 0 40px;
}

.u-section-4 .u-image-13 {
  width: 715px;
  height: 107px;
  margin: 12px 390px 0 36px;
}

.u-section-4 .u-text-14 {
  font-size: 1.125rem;
  margin: 30px 112px 0 40px;
}

.u-section-4 .u-tab-pane-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-15 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-14 {
  width: 657px;
  height: 295px;
  margin: 30px 423px 0 0;
}

.u-section-4 .u-text-16 {
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-15 {
  width: 673px;
  height: 167px;
  margin: 30px 407px 0 0;
}

.u-section-4 .u-text-17 {
  font-size: 1.5rem;
  margin: 25px auto 0 8px;
}

.u-section-4 .u-tab-pane-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-18 {
  font-size: 1.5rem;
  margin: 14px 65px 0 28px;
}

.u-section-4 .u-tab-pane-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-19 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 25px 0 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 55px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 674px;
    margin-left: 0;
  }

  .u-section-4 .u-tabs-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 698px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    height: 446px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    margin-right: 292px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }

  .u-section-4 .u-image-6 {
    height: 439px;
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-4 .u-image-7 {
    margin-right: 305px;
    margin-left: 0;
  }

  .u-section-4 .u-image-8 {
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-4 .u-tab-pane-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-10 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-11 {
    margin-right: 158px;
    margin-left: 0;
  }

  .u-section-4 .u-image-12 {
    margin-right: 158px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-13 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-14 {
    margin-right: 223px;
  }

  .u-section-4 .u-image-15 {
    margin-right: 207px;
  }

  .u-section-4 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 454px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 535px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 72px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 94px;
  }

  .u-section-4 .u-image-7 {
    margin-right: 85px;
  }

  .u-section-4 .u-image-8 {
    margin-right: 84px;
  }

  .u-section-4 .u-image-9 {
    width: 720px;
    height: 77px;
    margin-right: 0;
  }

  .u-section-4 .u-image-10 {
    width: 720px;
    height: 215px;
  }

  .u-section-4 .u-image-11 {
    width: 720px;
    height: 136px;
    margin-right: 0;
  }

  .u-section-4 .u-image-12 {
    width: 720px;
    height: 193px;
    margin-right: 0;
  }

  .u-section-4 .u-image-13 {
    margin-right: 5px;
  }

  .u-section-4 .u-image-14 {
    margin-right: 3px;
  }

  .u-section-4 .u-image-15 {
    width: 660px;
    height: 164px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 274px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 401px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 234px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 379px;
  }

  .u-section-4 .u-image-4 {
    width: 540px;
    height: 295px;
  }

  .u-section-4 .u-image-5 {
    width: 540px;
    height: 168px;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    width: 540px;
    height: 379px;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    width: 540px;
    height: 165px;
    margin-right: 0;
  }

  .u-section-4 .u-image-8 {
    width: 540px;
    height: 383px;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    width: 540px;
    height: 58px;
  }

  .u-section-4 .u-image-10 {
    width: 540px;
    height: 161px;
  }

  .u-section-4 .u-image-11 {
    width: 540px;
    height: 102px;
  }

  .u-section-4 .u-image-12 {
    width: 540px;
    height: 145px;
  }

  .u-section-4 .u-image-13 {
    width: 540px;
    height: 81px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-14 {
    width: 520px;
    height: 234px;
    margin-right: 0;
  }

  .u-section-4 .u-image-15 {
    width: 520px;
    height: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3056px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: -66px;
    margin-left: 66px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -42px;
    margin-right: 234px;
    margin-left: 14px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 771px;
    margin-top: 40px;
    margin-bottom: 53px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 252px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 147px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 239px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 186px;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 106px;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 239px;
  }

  .u-section-4 .u-image-7 {
    width: 340px;
    height: 104px;
  }

  .u-section-4 .u-image-8 {
    width: 340px;
    height: 241px;
  }

  .u-section-4 .u-image-9 {
    width: 340px;
    height: 37px;
  }

  .u-section-4 .u-image-10 {
    width: 340px;
    height: 101px;
  }

  .u-section-4 .u-image-11 {
    width: 340px;
    height: 64px;
  }

  .u-section-4 .u-image-12 {
    width: 340px;
    height: 91px;
  }

  .u-section-4 .u-image-13 {
    width: 340px;
    height: 51px;
  }

  .u-section-4 .u-image-14 {
    width: 320px;
    height: 144px;
  }

  .u-section-4 .u-image-15 {
    width: 320px;
    height: 79px;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-right: 19px;
  }
}